/*ul {
	border: 1px solid #000;
	padding: 10px 20px;
	width: 600px;
	margin: 100px;
}
ul span {
	float: right;
}
ul a {
	color: #333;
	text-decoration: none;
	margin: 0 20px;
}
ul a:hover {
	color: #f50;
	text-decoration: underline;
}*/


/*body {
	height: 2000px;
	background: #efefef;
}
.slider  div {
	width: 70px;
	height: 30px;
	border: 1px solid #ccc;
	text-align: center;
	color: #333;
	font-size:  12px;
	line-height: 30px;
	margin-bottom: 5px;
	background: #fff;
}
.slider {
	position: fixed;
	right: 20px;
	bottom: 100px;
}*/